div.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px #000000;
  color: #000;
}

div.card:hover,
div.card:active{
  box-shadow: 0 0 8px 5px #000;
  cursor: pointer;
}

div.card > h2{
  margin: 0;
  margin-top: 10px;
}

div.card > img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
}

